---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2 class="posts-index">
            {% if post.link %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} [Link] </a>
            {% else %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
            {% endif %}
          <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
        </h2>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.summary %}
          <p> {{ post.summary}} </p>
        {% else %}
        {{ post.content | truncate: 800, '<a href="google.com"> . . .</a>' }}
        {% endif %}
      </li>
      <!-- <hr> -->
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>