---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="posts-index">
            {% if post.link %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} [Link] </a>
            {% else %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
            {% endif %}
          <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
        </h2>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.summary %}
          <p> {{ post.summary}} <a href="{{ post.url | prepend: site.baseurl }}"> more →</a> </p>
        {% else %}
          {{ post.content | truncatewords: 150, ' . . .'}}
        {% endif %}
      </li>
      <!-- <hr> -->
    {% endfor %}
  </ul>

<div class='page-nav'>
  <!-- if the previous/newer page existes -->
  {% if paginator.previous_page %}
    <a rel="left" class="left" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">← Newer</a>
  {% endif %}
  <!-- if the next/older page existes -->
  {% if paginator.next_page %}
    <a rel="right" class="right" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older →</a>
  {% endif %}
  </div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>